.FormDetail {
  position: relative;
  width: 70%;
  border: 1px solid pink;
  padding: 20px;

  .title {
    font-size: 16px;
    font-weight: 600;
    color: #323640;
    // padding: 36px 0 16px 0;
    margin: 30px 0 16px 0;
    background-color: lightgray;
    height: 80px;
    padding-left: 12px;
    display: flex;
    align-items: center;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .item-1 {
      // width: 50%;
      display: flex;
      font-size: 14px;

      .label {
        width: 88px;
        text-align: right;
        color: #9098a9;
      }

      .value {
        width: calc(100% - 100px);
        flex-shrink: 10;
        margin-left: 16px;
        color: #323640;
        margin-bottom: 16px;

        > span {
          line-height: 20px;
        }
      }
    }

    .item-2 {
      // width: 50%;
      font-size: 14px;
      margin-bottom: 20px;

      .label {
        color: #9098a9;
        margin-bottom: 8px;
      }

      .value {
        color: #323640;

        > span {
          line-height: 20px;
        }
      }
    }
  }
}
