.pokerCard {
  // width: 22px;
  height: 135px;
  // padding: 10px;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  & > * {
    height: 100%;
    display: inline-flex;
    background-color: white;
    position: absolute;
    // box-sizing: border-box;
    // padding: 2px;
  }

  // .shadow {
  //   left: 0;
  //   top: 0;
  //   width: 100px;
  //   height: 135px;
  //   box-shadow: 0 0 20px 0px white;
  //   background-color: transparent;
  // }

  .left,
  .right {
    width: 22px;
    // display: flex;
    flex-direction: column;
    padding: 4px 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    .icon {
      margin-top: -4px;
      width: 22px;
      height: 22px;
      // background-image: url(./S.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .left {
    left: 0px;
    top: 0;
  }

  .right {
    transform: rotateZ(180deg);
    left: 78px;
    top: 0;
  }

  .mid {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    left: 22px;
    top: 0;
    width: 56px;
    // flex-grow: 10;
    // background-image: url(./joker.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // pointer-events: none;
  }

  .back {
    width: 100%;
    background-image: url(./assets/back.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .switch-enter-active {
    animation: switch-in 0.6s ease;
  }
  .switch-leave-active {
    animation: switch-out 0.6s ease;
  }

  @keyframes switch-in {
    0% {
      transform: rotateX(-180deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes switch-out {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    100% {
      transform: rotateX(-180deg);
      opacity: 0;
    }
  }
}
