.pokerCard {
  background-color: white;
  border: 1px solid gray;
  border-radius: 12px;
  width: 100px;
  height: 135px;
  // padding: 10px;
  position: relative;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  box-shadow: 0 0 10px lightgray;
  & > * {
    height: 100%;
  }

  .left,
  .right {
    width: 22px;
    display: flex;
    flex-direction: column;
    padding: 4px 0px;

    .icon {
      margin-top: -4px;
      width: 22px;
      height: 22px;
      // background-image: url(./S.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .right {
    transform: rotateZ(180deg);
  }

  .mid {
    flex-grow: 10;
    // background-image: url(./joker.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // pointer-events: none;
  }
}
