.MyDialogForm {
  :deep(.my-dialog) {
    width: 80%;

    .my-form {
      .el-row {
        // 解决el-col有时会靠右的问题
        display: flex;
        flex-wrap: wrap;
      }

      .el-divider__text {
        color: orange;
      }

      .el-select,
      .el-cascader,
      .el-input-number,
      .el-date-editor {
        width: 100%;
      }

      .el-table {
        .el-upload {
          position: relative;
          top: 6px;
        }

        .el-upload__tip {
          vertical-align: bottom;
        }

        .el-upload-list__item-file-name {
          line-height: 16px;
        }
      }

      .add-btn {
        padding-top: 10px;
        width: 100%;
        text-align: center;
      }
    }
  }
}
