.detailForm {
  :deep(.my-dialog) {
    .el-dialog {
      width: 90%;
      margin-top: 0vh !important;

      .my-form {
        .el-row {
          // 解决el-col有时会靠右的问题
          display: flex;
          flex-wrap: wrap;
        }

        .el-divider__text {
          color: orange;
        }

        .el-select,
        .el-cascader,
        .el-input-number,
        .el-date-editor {
          width: 100% !important;
        }

        .el-table {
          .el-form-item {
            margin-bottom: 0;
          }
        }

        .add-btn {
          padding-top: 10px;
          width: 100%;
          text-align: center;
        }

        .el-upload__tip {
          display: inline;
          margin-left: 10px;
        }
      }
    }
  }
}
