.room {
  user-select: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 100vw;
  height: 100vh;

  background-color: lightblue;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

  .player {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;

    .player-name {
      margin: 0 8px;
    }

    &:nth-child(1) {
      width: 100%;
      height: 30%;
      top: 0;
      > .basic-info {
        top: 120px;
      }
    }
    &:nth-child(2) {
      width: 30%;
      height: 100%;
      right: 0;
      > .basic-info {
        right: 120px;
      }
    }
    &:nth-child(3) {
      width: 100%;
      height: 30%;
      bottom: 0;
      > .basic-info {
        bottom: 120px;
      }
    }
    &:nth-child(4) {
      width: 30%;
      height: 100%;
      left: 0;
      > .basic-info {
        left: 120px;
      }
    }

    .basic-info {
      // position: absolute;
      // top: 20%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // border: 1px solid blue;
      position: relative;
      // top: -100px;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-bottom: 20px;
    }

    .empty-seat {
      border: 1px solid green;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .cards-wrapper {
      position: absolute;
      // bottom: 0;
      // width: 100%;
      height: 150px;
      border: 1px solid blue;

      & > * {
        position: absolute;
      }

      /* 1. 声明过渡效果 */
      .fade-move,
      .fade-enter-active,
      .fade-leave-active {
        transition: all 0.4s ease;
      }

      /* 2. 声明进入和离开的状态 */
      .fade-enter-from,
      .fade-leave-to {
        opacity: 0;
        transform: translateY(-30px);
      }

      /* 3. 确保离开的项目被移除出了布局流
      以便正确地计算移动时的动画效果。 */
      .fade-leave-active {
        position: absolute;
        // left: 0px;
      }
    }
  }

  .table-wrapper {
    width: 40%;
    height: 40%;
    overflow: hidden;
    // border: 1px solid green;
    background-color: lightgray;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 8px;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);

    // .grid-item {
    //   // width: auto;
    //   // height: auto;
    //   border: 1px solid white;
    //   background-color: blue;
    // }

    &.active {
      // background-color: lightgray;
      // background-image: url(./1.jpeg);
      // background-size: cover;
      // background-position: center;
      // background-repeat: no-repeat;
      // filter: grayscale(100%);
    }

    .item {
      border: 1px solid blue;
      width: 100%;
      height: 134px;
      display: flex;
      // justify-content: center;
      // align-items: center;

      &.top {
        order: 0;
        display: flex;
        justify-content: center;
      }
      &.bottom {
        order: 3;
        display: flex;
        justify-content: center;
      }
      &.mid-left {
        order: 1;
        width: 50%;
        height: calc(100% - 134px * 2);
        display: flex;
        justify-content: start;
        align-items: center;
      }
      &.mid-right {
        order: 2;
        width: 50%;
        height: calc(100% - 134px * 2);
        display: flex;
        justify-content: end;
        align-items: center;
      }

      .cards-wrapper {
        position: relative;
        height: 134px;

        .pokerCard {
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .operate-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
}
